<section id="Debit-Credit-Card" class="text-8xl text-center p-8">Debit / Credit Card</section>
<br><br>
<section id="PayPal-&-Donor-Websites" class="text-8xl text-center p-8">PayPal & Donor Websites</section>
<br><br>
<section id="Online-Fundraisers" class="text-8xl text-center p-8"  >Online Fundraisers</section>
<br><br>
<section id="Donate-a-Car" class="text-8xl text-center p-8">Donate a Car</section>
<br><br>
<section id="Will" class="text-8xl text-center p-8">Will (Legacy Giving)</section>
<br><br>
