---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ways To Give">
  <section id="Debit-Credit-Card" class="text-6xl text-center p-8 h-screen">
    Debit / Credit Card
  </section>
  <br /><br />
  <section id="PayPal-&-Donor-Websites" class="text-6xl text-center p-8 h-screen">
    PayPal & Donor Websites
  </section>
  <br /><br />
  <section id="Online-Fundraisers" class="text-6xl text-center p-8 h-screen">
    Online Fundraisers
  </section>
  <br /><br />
  <section id="Donate-a-Car" class="text-6xl text-center p-8 h-screen">
    Donate a Car
  </section>
  <br /><br />
  <section id="Will" class="text-6xl text-center p-8 h-screen">
    Will (Legacy Giving)
  </section>
  <br /><br />
</Layout>
