---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contact">
    <div class="bg-[url('https://ekal.ca/wp-content/uploads/2021/07/105-1.jpg')] bg-cover bg-center h-[50vh] ">
        <div class="bg-cover bg-center h-[50vh] bg-[#353535] opacity-75"></div>
        <h1>contaner</h1>
    </div>
	
</Layout>