---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Welcome to Astro.">
	<div class="bg-blue-200">
		<div class=" lg:max-w-[1400px] w-full mx-auto px-4">
			<Nav/>
		</div>
	</div>

	
</Layout>

